*{
    margin: 0;
}

img {
    width: 620;
    height: 390;

}

table   {
    width: 100%;
    text-align: center;
}

.gallery    {
    font-size: 60;
    font-family: arial;
    padding: 100 0 100 0;
    text-align: center;
    background-color: black;
    color: white;
}

.gallery:hover  {
    letter-spacing: 4;
    transition: 1s;
}

.pic    {
    background-color:   black;
}

.back   {
    background-color: black;
    font-size: 40;
    text-align: center;
    padding: 30 0 30 0;

}

